<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      #pokemon {
        display: none;
        position: absolute;
      }
      #nearby {
        display:none;
      }
      #gameInfo {
        display:none;
      }
    </style>
  </head>
  <body ng-app="pokeclick" ng-controller="PokeclickIndexController as vm">
  <h1> Pokeclick </h1>
  <div id="nearby">
    <h3> There's a wild Pokemon nearby!</h3>
  </div>
  <div id="gameInfo">
  <p>  {{vm.timer}} seconds in! </p>
  <p> {{vm.clicked}} points! </p>
</div>
    <main data-ui-view>
      <div id= "start" ng-click="vm.start()">
        <p> Start </p>
      </div>
      <div id= "pokemon" ng-click="vm.poke()">
        <img src={{vm.pokemonPic}}>
        <p> Click me! </p>
      </div>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
    <script>
    angular.module("pokeclick", [])
    .controller("PokeclickIndexController", [
      PokeclickIndexControllerFunction
    ])

    function PokeclickIndexControllerFunction(){
      var vm = this;
      // starts the point value at 0
      var clicked = 0;


      // array of pokemon pics to be used
      var pokemonPics = [
        "http://cdn.bulbagarden.net/upload/thumb/4/43/043Oddish.png/250px-043Oddish.png",
        "http://cdn.bulbagarden.net/upload/thumb/7/73/004Charmander.png/250px-004Charmander.png",
        "http://cdn.bulbagarden.net/upload/thumb/0/0d/025Pikachu.png/250px-025Pikachu.png",
        "http://cdn.bulbagarden.net/upload/thumb/3/39/007Squirtle.png/250px-007Squirtle.png",
        "http://cdn.bulbagarden.net/upload/thumb/2/21/001Bulbasaur.png/250px-001Bulbasaur.png"
      ]

  // pushes random pokemon pic to DOM
      pokemonPic = pokemonPics[Math.floor(Math.random() * pokemonPics.length)];
      vm.pokemonPic = pokemonPic

      var gameInfo = document.getElementById("gameInfo");
        // this function increments the point value when you click the appropriate div
      vm.poke = function(){
        gameInfo.style.display = "block";
        clicked++
        vm.clicked = clicked;
      }
      // declaring a few important variables

      var pokemon = document.getElementById("pokemon")
      var positions = ["100px", "200px", "300px", "400px", "500px"]
      var start = document.getElementById("start")
      var nearby = document.getElementById("nearby")
      // this generates a random number for the interval
      // this starts the interval going to hide and show the pokemon
      var timer = 0;
      vm.start = function(){
        setInterval(function(){
          timer = timer + 1
          vm.timer = timer;
        }, 1000)

        start.style.display = "none";
        nearby.style.display = "block";
        console.log("start clicked")

        setInterval(function(){
          if(pokemon.style.display !== "none"){
            pokemon.style.display = 'none'
            pokemon.style.left = positions[Math.floor(Math.random() * positions.length)];
            pokemon.style.top = positions[Math.floor(Math.random() * positions.length)];
            console.log("changing visibility")
          }
          else {
            pokemon.style.display = 'inline-block';

          }
        }, (Math.random() * (5000 - 1000) + 1000))
    }





}
    </script>
  </body>
</html>
